.container{
    background-color: #edf2f4;
    width: 90%;
}
.nome{
    background-color:#ef233c ;
    font-family: "Kanit", serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    border-radius: 5px;
    height: 55px;
    text-align: center;
}
li{
    display: inline;
    margin-right: 30px;
}
footer{
    background-color:#ef233c ;
    color: #fff;
    height: 45px;
    text-align: center;
    border-radius: 5px;
}
.secao {
    width: 250px; /* Define a largura de cada bloco */
    height: 250px; /* Define a altura de cada bloco */
    display: block;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid #333;
    border-radius: 10px; /* Bordas arredondadas */
    overflow: hidden;
    text-align: center;
    color: #333;
}

.dados {
    display: flex;
    gap: 20px; /* Espaçamento entre os blocos */
    justify-content: center;
    flex-wrap: wrap; /* Permite que os itens quebrem linha em telas menores */
    margin-bottom: 55px;
}
.titulo{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #fff;
    background-color:#ef233c;
    text-align: center;
    border-radius: 5px;
    font-family: "Kanit", serif;
    font-weight: 500;
    font-style: normal;

}
a:hover{
    color: #ef233c;
}
p{
    font-size: 18px;
}
.imagem_home{
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}
